.game-catalog {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.auth-button:hover {
  background-color: darkviolet;
}

.search-bar input {
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 300px;
}

.search-bar input::placeholder {
  color: #ccc;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-item {
  background-color: #222;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-image {
  width: 400px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ;
  height: 200px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensure the image covers the specified dimensions without distortion */
  border-radius: 5px;
}

.game-item h2 {
  font-size: 24px;
  margin: 10px 0;
}

.game-item p {
  font-size: 16px;
}

.game-item a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
}

.game-item a:hover {
  text-decoration: underline;
}
