.game-details {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add-to-cart-button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: darkviolet;
}

.cart-message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}
